<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Welcome to Housing Market Analysis </title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gray-800">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5 border-bottom-info">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-left">
                <h1 class="h4 text-gray-900 mb-4 font-weight-bolder text-center">
                  <h1>Hawai'i Climate Data</h1>
                  <h3>This application uses Python and SQLAlchemy to do basic climate analysis and data exploration of
                    a climate database.</h3>
                  <h2>Available API Routes:</h2>
                  <h3>
                    <ul>
                      <li><a href="http://127.0.0.1:5000/api/v1.0/precipitation">Precipitation with dates from recent
                          year</a>
                      <li><a href="http://127.0.0.1:5000/api/v1.0/stations">List of all climate measuring stations</a>
                      <li><a href="http://127.0.0.1:5000/api/v1.0/tobs">Temperature Observations with dates from recent
                          year</a>
                      <li>Temperature Statistics between desired date and most reccent date (YYYY-MM-DD format)</a>
                        <ul style="margin-left: 30px">
                          <li>Enter http://127.0.0.1:5000/api/v1.0/[desired date]
                          <li>e.g. <a href="http://127.0.0.1:5000/api/v1.0/2014-12-11 target=" _blank"">
                              http://127.0.0.1:5000/api/v1.0/2014-12-11</a> will return temperature statistics
                            between December 11th, 2014 and the most recent measurement.</p>
                        </ul>
                      <li>Temperature Statistics between two desired dates (YYYY-MM-DD format)</a>
                        <ul style="margin-left: 30px">

                          <li>Enter http://127.0.0.1:5000/api/v1.0/[start date]/[end date]
                          <li>e.g. <a href="http://127.0.0.1:5000/api/v1.0/2014-12-11/2014-12-18" target="_blank">
                              http://127.0.0.1:5000/api/v1.0/2014-12-11/2014-12-18</a> will return temperature
                            statistics
                            between December 11th, 2014 and December 18th, 2014.
                            <h3>
              </div>
              <hr>

              <div class="text-center">
                <a href="/dashboard" class="btn btn-warning text-dark font-weight-bolder">
                  <i class="fas fa-eye text-dark"></i> View Dashboard</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>